*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
table {
  border-style: hidden;
  border-collapse: collapse;
}
.skew-c {
  width: 100vw;
  height: 50px;
  position: absolute;
  left: 0px;
  background: linear-gradient(to right bottom, #fff 49%, #f2f2f2 50%);
}
@media (min-width: 660px) {
  .skew-c {
    height: 96px;
  }
}
@media (min-width: 1200px) {
  .skew-c {
    height: 120px;
  }
}
.page-header {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #0000003a;
  width: 100%;
  padding: 20px;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.page-header__logo--tablet {
  display: none;
}
.page-header__logo--desktop {
  display: none;
}
.page-header__logo--mobile {
  display: flex;
}
.page-header__burger {
  order: 3;
}
.burger-item--closed {
  display: flex;
  width: 50px;
  height: 4px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  transition: 0.1s linear;
}
.burger-item--closed:hover {
  background-color: #d22856;
}
.burger-item--closed:hover::after,
.burger-item--closed:hover::before {
  background-color: #d22856;
}
.burger-item--closed::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 0;
  transition: 0.1s linear;
}
.burger-item--closed::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 0;
  transition: 0.1s linear;
}
.burger-item--closed::before:hover {
  background-color: #d22856;
}
.main-nav {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 70px;
  background-color: #243241;
  transition: 0.4s linear;
  z-index: 1000;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main-nav__list-item {
  text-align: center;
  padding: 25px 0px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100vw;
  border-bottom: 1px solid #000001;
  border-top: 2px solid #485461;
}
.main-nav__list-item a {
  text-decoration: none;
  color: #fff;
}
.main-nav__list-item:last-child {
  border-bottom: 1px solid #000001;
}
@media (min-width: 660px) {
  .page-header__logo--tablet {
    display: flex;
  }
  .page-header__logo--desktop {
    display: none;
  }
  .page-header__logo--mobile {
    display: none;
  }
  .page-header {
    height: 110px;
  }
  .main-nav {
    top: 110px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    opacity: 1 !important;
  }
  .list-item--active a {
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
  }
  .page-header__logo--tablet {
    display: none;
  }
  .page-header__logo--desktop {
    display: flex;
    margin-left: 130px;
  }
  .page-header__logo--mobile {
    display: none;
  }
  .burger-item {
    display: none;
  }
  .main-nav {
    display: block;
    opacity: 1;
    position: static;
    background-color: transparent;
  }
  .main-nav__list {
    display: flex;
    flex-direction: row;
  }
  .main-nav__list-item {
    padding: 0;
    text-transform: initial;
    color: #fff;
    font-weight: 300;
    border: none;
    width: auto;
    margin: 0 40px;
  }
  .main-nav__list-item a {
    transition: 0.1s linear;
  }
  .main-nav__list-item a:hover {
    color: #d22856;
    border-color: #d22856;
  }
  .main-nav__list-item:last-child {
    border-bottom: none;
  }
}
.page-main {
  position: absolute;
  z-index: 1;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Open Sans', sans-serif;
}
.page-main__right {
  background-image: url("../img/main/bg-mobile.jpg");
  background-color: #1d2631;
  background-size: cover;
  background-position: center 0;
  position: relative;
  height: 460px;
}
.page-main__right img {
  width: 270px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.page-main__left {
  position: relative;
  background: #1d2631;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 36px;
}
.page-main__button {
  text-decoration: none;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  padding: 20px 40px;
  border: 4px solid #fff;
  border-radius: 50px;
  margin-bottom: 30px;
  transition: 0.2s linear;
}
.page-main__button:hover {
  background-color: #fff;
  color: #d22856;
  box-shadow: 0px 5px 7px 0px rgba(1, 1, 1, 0.75);
}
.page-main__logos {
  margin: 0 auto;
}
.page-main__logo-link {
  margin: 0 17px;
}
.page-main__left__text {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  line-height: 1.71;
}
.visually-hidden {
  display: none;
}
@media (min-width: 660px) {
  .visually-hidden {
    text-align: center;
    display: block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 37px;
  }
  .page-main__right {
    background: none;
    position: static;
  }
  .page-main__left {
    z-index: 5;
    margin-top: 110px;
    margin-left: 22px;
    background: none;
  }
  .page-main {
    flex-direction: row;
    background-image: url("../img/main/bg-tablet.jpg");
    background-color: #1d2631;
    background-size: cover;
    background-position: center 0;
    padding: 110px 0px;
    position: relative;
  }
  .page-main__right img {
    position: absolute;
    left: 35%;
    bottom: 0px;
    width: 450px;
    height: auto;
    z-index: 0;
  }
  .page-main__left__text {
    font-size: 18px;
  }
  .page-main__button {
    font-size: 18px;
    padding: 20px 50px;
    margin-bottom: 60px;
  }
  .page-main__left__text {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .page-main {
    background-image: url("../img/main/bg.jpg");
    background-color: #1d2631;
    background-size: cover;
    background-position-y: center;
    padding: 125px 0px;
  }
  .visually-hidden {
    font-size: 50px;
    margin-bottom: 70px;
  }
  .page-main__left {
    margin-left: 130px;
  }
  .page-main__button {
    font-size: 21px;
  }
  .page-main__right img {
    width: 550px;
    height: auto;
  }
}
.features {
  position: absolute;
  top: 759px;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  z-index: -2;
}
.features-bg {
  background-color: #f2f2f2;
}
.features__title {
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  max-width: 250px;
}
.features-inner {
  width: 100vw;
  padding-top: 70px;
  display: flex;
  flex-direction: column-reverse;
}
.features__title p {
  margin-bottom: 30px;
}
.feature__image {
  display: none;
}
.feature__image--mobile {
  margin: 0 auto;
  text-align: center;
}
.feature__image--mobile img {
  width: 168px;
  height: auto;
  margin-bottom: -5px;
}
.feature__text {
  text-align: center;
}
.feature__title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}
.feature__description {
  font-size: 15px;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (min-width: 660px) {
  .features {
    position: static;
  }
  .features-inner {
    max-width: 620px;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .features__title {
    font-size: 40px;
    font-weight: 300;
    max-width: 600px;
  }
  .features__title p {
    margin-bottom: 10px;
  }
  .features__title p:last-child {
    margin-bottom: 50px;
  }
  .feature__image--mobile {
    position: relative;
  }
  .feature__image--mobile img {
    height: 100%;
    width: 100%;
  }
  .features__text {
    margin-top: 60px;
  }
  .feature__text {
    text-align: left;
    position: relative;
  }
  .feature__description {
    line-height: 1.8;
    max-width: 310px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .features-inner {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .features__title {
    font-size: 50px;
  }
  .feature__image {
    display: block;
  }
  .feature__image--mobile {
    display: none;
  }
  .features__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -60px;
    margin-bottom: 60px;
  }
  .features__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
  }
  .feature__text {
    text-align: center;
  }
  .feature__title {
    font-size: 30px;
  }
  .feature__description {
    max-width: 280px;
    padding: 0 25px;
    font-size: 15px;
    line-height: 30px;
  }
}
.effect__wrapper {
  display: none;
}
@media (min-width: 660px) {
  .effect__wrapper {
    max-width: 620px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  .effect {
    background-color: #ffffff;
    padding-top: 60px;
    font-family: 'Open Sans', sans-serif;
  }
  .effect__right h3 {
    font-size: 30px;
    font-weight: 700;
    max-width: 160px;
    margin-bottom: 22px;
  }
  .effect__right p {
    font-size: 15px;
    color: #616c77;
    line-height: 1.9;
    margin-bottom: 22px;
  }
  .effect__right a {
    color: #dd5d80;
    text-decoration: underline;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .effect__wrapper {
    max-width: 960px;
  }
  .effect__right {
    margin-left: 80px;
  }
  .effect__right h3 {
    max-width: 300px;
    margin-bottom: 30px;
    margin-top: 70px;
  }
  .effect__right p {
    font-size: 16px;
    margin-bottom: 30px;
    padding-right: 150px;
  }
  .effect__right a {
    color: #dd5d80;
    text-decoration: underline;
  }
}
.reviews {
  position: absolute;
  top: 1777px;
  padding: 50px 0px;
  font-family: 'Open Sans', sans-serif;
}
.reviews__quotes {
  display: none;
}
.reviews__wrapper {
  padding: 0 20px;
}
.slider-item {
  opacity: 0;
  transition: all 0.3s linear;
  display: none;
  flex-direction: column;
}
.review__item {
  text-align: center;
  transition: all 0.3 linear;
}
.review__name {
  font-size: 18px;
  margin-bottom: 30px;
}
.review__position {
  display: none;
}
.review__description {
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 33px;
}
.reviews__dots {
  text-align: center;
}
.dot {
  margin: 0 10px;
  width: 8px;
  height: 8px;
  outline: none;
  border: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #bec2c7;
  transition: 0.05s linear;
  cursor: pointer;
}
.dot--active {
  width: 12px;
  height: 12px;
  border: 3px solid #283645;
  background: transparent;
}
@media (min-width: 660px) {
  .reviews {
    position: static;
  }
  .reviews__wrapper {
    padding: 0;
    max-width: 620px;
    margin: 0 auto;
    width: 100%;
  }
  .review__position {
    display: block;
  }
  .review__description {
    order: 1;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.66;
  }
  .review__name {
    order: 2;
    margin-bottom: 18px;
  }
  .review__position {
    order: 3;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    max-width: 960px;
  }
  .reviews__quotes {
    display: block;
    text-align: center;
  }
  .reviews__quotes svg {
    width: 80px;
    height: auto;
    fill: #efefef;
  }
}
.pricing {
  position: absolute;
  top: 2136px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  padding-bottom: 90px;
}
.pricing__desktop {
  display: none;
}
.pricing__mobile {
  display: flex;
  width: 100vw;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin: 80px 0px 10px 0px;
}
.pricing__mobile__item {
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  width: 95%;
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.pricing__mobile__item--standart {
  position: relative;
}
.mobile__item__header {
  text-align: center;
  background-color: #283645;
  padding: 13px 0px;
  max-height: 98px;
}
.mobile__item__header--standart {
  position: relative;
}
.ribbon {
  position: absolute;
  top: 0px;
  left: 0px;
}
.ribbon > p {
  position: absolute;
  top: 15px;
  left: 5px;
  transform: rotate(-45deg);
  color: white;
}
.mobile__item__header h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}
.mobile__item__header > p {
  font-size: 24px;
  font-weight: 300;
  color: #c6c9cd;
}
.mobile__item__inner__point {
  padding: 21px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #c6c9cd;
  border-bottom: 1px solid #c6c9cd;
}
.mobile__item__inner__point p {
  margin-left: 11%;
  text-transform: uppercase;
  font-size: 14px;
  color: #45515e;
}
.mobile__item__inner__point svg {
  width: 30px;
  height: 30px;
  margin-right: 11%;
}
@media (min-width: 660px) {
  .pricing {
    position: static;
    padding-top: 150px;
    overflow-x: none;
    padding-bottom: 70px;
  }
  .pricing__wrapper {
    max-width: 620px;
    margin: 0 auto;
  }
  .pricing__mobile {
    display: none;
  }
  .pricing__desktop {
    display: flex;
    justify-content: center;
  }
  .pricing__table {
    width: 100%;
    border: none;
  }
  .table__heading {
    text-transform: uppercase;
    padding: 17px 0px;
    text-align: center;
    background-color: #283645;
    width: 165px;
  }
  .table__heading--standart {
    position: relative;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
  }
  .table__heading--standart h3 {
    position: relative;
    z-index: 5;
  }
  .ribbon--table {
    position: absolute;
    top: 0;
  }
  .ribbon--table > p {
    position: absolute;
    top: 15px;
    left: 5px;
    transform: rotate(-45deg);
    color: white;
  }
  .table__heading h3 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .table__heading > p {
    font-size: 18px;
    font-weight: 300;
    color: #c6c9cd;
  }
  .table__point {
    background-color: white;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    padding: 0px 0px;
    font-size: 14px;
    color: #283645;
    text-align: center;
  }
  .table__point svg {
    width: 30px;
    height: 35px;
  }
}
@media (min-width: 1200px) {
  .pricing {
    padding-bottom: 90px;
  }
  .pricing__wrapper {
    max-width: 960px;
  }
  .table__heading {
    width: 240px;
  }
  .table__heading h3 {
    font-size: 18px;
  }
  .table__heading > p {
    font-size: 24px;
  }
  .table__point {
    font-size: 18px;
    padding: 2px 0px;
  }
  .table__point svg {
    width: 37px;
    height: 45px;
  }
}
.contact {
  position: absolute;
  top: 2636px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.contact__intro {
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300px;
  color: #283645;
  margin-bottom: 44px;
}
.contact__info {
  text-align: center;
}
.info__block h3 {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  margin-bottom: 10px;
}
.info__block {
  margin-bottom: 25px;
}
.info__block--last {
  margin-bottom: 0;
}
.info__block p {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
}
.contact__triangle {
  position: absolute;
  width: 100vw;
  z-index: 1000;
}
.contact__triangle--mobile {
  display: block;
}
.contact__triangle--tablet {
  display: none;
}
.contact__triangle--desktop {
  display: none;
}
.contact__triangle img {
  width: 100vw;
}
@media (min-width: 660px) {
  .contact {
    position: static;
  }
  .contact__intro {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .info__block {
    width: 50%;
  }
  .info__block--last {
    width: 100%;
  }
  .contact__triangle--mobile {
    display: none;
  }
  .contact__triangle--tablet {
    display: block;
    z-index: 1000;
    position: absolute;
    width: 100%;
  }
  .contact__triangle--desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contact__intro {
    margin-bottom: 60px;
  }
  .info__block {
    width: 33.33%;
    margin-bottom: 0px;
  }
  .contact__triangle--mobile {
    display: none;
  }
  .contact__triangle--tablet {
    display: none;
  }
  .contact__triangle--desktop {
    display: block;
    z-index: 1000;
    position: absolute;
    width: 100%;
  }
}
.map {
  position: absolute;
  top: 2636px;
  z-index: -1;
}
.map__map-img {
  position: relative;
  width: 100vw;
}
.map__map-img--mobile {
  display: block;
}
.map__map-img--tablet {
  display: none;
}
.map__map-img--desktop {
  display: none;
}
.map-img {
  min-width: 100%;
}
.map-marker {
  position: absolute;
  bottom: 10%;
  left: 45%;
  z-index: 10;
}
@media (min-width: 660px) {
  .map__map-img--mobile {
    display: none;
  }
  .map__map-img--tablet {
    display: block;
  }
  .map-marker--tablet {
    top: 65%;
    left: 47%;
  }
  .map__map-img--tablet {
    top: -1px;
  }
}
@media (min-width: 1200px) {
  .map__map-img--tablet {
    display: none;
  }
  .map__map-img--desktop {
    display: block;
    top: 200px;
  }
  .map-marker {
    top: 57%;
    left: 49%;
  }
}
